.bgimg-landing{
	  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	position: relative;
	background-image: url("images/landing.jpg");
}
